<% layout('/layouts/boilerplate.ejs')-%>

<div class="row">
  <h3 class="mt-4 offset-3">Edit This Product</h3>
  <form
    method="post"
    action="/top-deal/<%= item._id%>?_method=PUT"
    class="mb-5 offset-3 needs-validation"
    novalidate
  >
    <div class="col-6">
      <label for="title" class="form-label">Product Name : </label>
      <input
        name="item[title]"
        type="text"
        value="<%= item.title%>"
        class="form-control"
        required
      />
      <div class="valid-feedback"></div>
      <div class="invalid-feedback">Please Enter Title of the Product.</div>
    </div>
    <br />
    <div class="col-6">
      <label for="description" class="form-label">Description : </label>
      <textarea name="item[description]" class="form-control" required>
<%= item.description%></textarea
      >
      <div class="valid-feedback"></div>
      <div class="invalid-feedback">
        Please Enter Description of the Product.
      </div>
    </div>
    <br />
    <div class="col-6">
      <label for="Price" class="form-label">Price : (in &#8377;) </label>
      <input
        name="item[price]"
        type="number"
        value="<%= item.price%>"
        class="form-control"
        required
      />
      <div class="valid-feedback"></div>
      <div class="invalid-feedback">Please Enter Price of the Product.</div>
    </div>
    <br />
    <div class="col-6">
      <label for="image" class="form-label">Image : </label>
      <input
        name="item[image]"
        value="<%= item.image%>"
        class="form-control"
        required
      />
      <div class="valid-feedback"></div>
      <div class="invalid-feedback">Please Upload Image of the Product.</div>
    </div>
    <br />
    <button class="btn btn-warning">Edit Product</button>
  </form>
</div>
