<% layout('/layouts/boilerplate.ejs') -%>
<div class="card mb-3 offset-lg-3 product-container">
  <h2 class="my-3 show-heading">Product Details</h2>
  <div class="row g-2 rowContainer mb-5" id="rowContainer">
    <div class="col-md-4 product-img">
      <img
        src="<%=item.image.url%>"
        class="img-fluid rounded-start showImg"
        alt="product"
        style="width: 35rem"
      />
    </div>
    <div class="col-md-8 product-details">
      <div class="card-body showDetails">
        <h5 class="card-title mb-0 title d-block"><%=item.title%></h5>
        <!-- <br /> -->
        <i class="card-text fs-4" id="owner-name">
          ( created by : <%=item.owner.username%> )</i
        >
        <br />
        <br />
        <p class="card-text product-description"><%=item.description%></p>
        <p class="card-text fs-2 d-inline">
          &#8377;<%=item.price.toLocaleString("en-In")%>
        </p>
      </div>

      <% if(currUser && currUser._id.equals(item.owner._id)) {%>
      <div class="showButtons">
        <a href="/top-deal/<%=item._id%>/edit" class="btn btn-warning px-4"
          >Edit</a
        >
        <form method="POST" action="/top-deal/<%=item._id%>?_method=DELETE">
          <button class="btn btn-danger px-4">Delete</button>
        </form>
      </div>
      <%}%>
    </div>
  </div>

  <div class="offset-2 col-8">
    <% if(currUser) {%>
    <hr class="reviewLine" />
    <h4>Leave A Review</h4>
    <form
      action="/top-deal/<%=item._id%>/review"
      method="POST"
      novalidate
      class="needs-validation mb-4"
    >
      <div class="my-2">
        <label for="rating">Rating</label>
        <fieldset class="starability-heartbeat">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="review[rating]"
            value="1"
            checked
            aria-label="No rating."
          />
          <input
            type="radio"
            id="first-rate1"
            name="review[rating]"
            value="1"
          />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input
            type="radio"
            id="first-rate2"
            name="review[rating]"
            value="2"
          />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input
            type="radio"
            id="first-rate3"
            name="review[rating]"
            value="3"
          />
          <label for="first-rate3" title="Average">3 stars</label>
          <input
            type="radio"
            id="first-rate4"
            name="review[rating]"
            value="4"
          />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input
            type="radio"
            id="first-rate5"
            name="review[rating]"
            value="5"
          />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="comment"
          name="review[comment]"
          style="height: 7rem; width: 31rem"
          required
        ></textarea>
        <label for="comment">Comments</label>
        <div class="valid-feedback"></div>
        <div class="invalid-feedback">Please Write a Comment !</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <!-- <hr style="width: 50rem; position: relative; left: -12rem" /> -->

    <%}%> <%if(item.review.length > 0){%>
    <h4 class="text-center my-5"><b>All Reviews</b></h4>
    <div class="row" style="width: 70rem; margin-left: -14rem">
      <% for(let rev of item.review){ %>
      <div class="card col-3 reviewCard ms-3">
        <div class="card-body">
          <div class="card-title">
            <b><i>@<%=rev.author.username%></i></b>
          </div>
          <p
            class="starability-result card-text"
            data-rating="<%=rev.rating%>"
          ></p>
          <div class="card-title"><%= rev.comment %></div>
          <div class="card-title">Date : <%= rev.createdAt %></div>
          <form
            method="POST"
            action="/top-deal/<%=item._id%>/review/<%=rev._id%>?_method=delete"
          >
            <button class="btn-sm btn-danger" style="border-radius: 2rem">
              Delete
            </button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <%}%>
  </div>
</div>
