<% layout('/layouts/boilerplate.ejs') -%>
<body>
  <h2><%=item.title%></h2>
  <p><%=item.description%></p>
  <p>&#8377;<%=item.price.toLocaleString("en-IN")%></p>
  <!-- <h3><%= item.image%></h3> -->
  <a href="/top-deal/<%=item._id%>/edit">Edit This Item</a>
  <form method="POST" action="/top-deal/<%=item._id%>?_method=delete">
    <button>Delete</button>
  </form>
</body>
